<header class="header">
  <div class="header--wrapper container">
    <a href="index.html" class="header--icon --icon">WatchCharm</a>
    <nav class="header--navigation_menu">
      <ul class="header--menu_list">
        <li class="header--menu_item">
          <a href="" class="header--navigation_link">
            <span class="--is-active">Home</span>
          </a>
        </li>
        <li class="header--menu_item">
          <a href="" class="header--navigation_link">
            <span class="">About Us</span>
          </a>
        </li>
        <li class="header--menu_item">
          <a href="" class="header--navigation_link">
            <span class="">Catalog</span>
          </a>
        </li>
        <li class="header--menu_item">
          <a href="" class="header--navigation_link">
            <span class="">Sale</span></a
          >
        </li>
        <li class="header--menu_item">
          <a href="" class="header--navigation_link">
            <span class="">Reviews</span></a
          >
        </li>
        <li class="header--menu_item">
          <a href="" class="header--navigation_link">
            <span class="">Contact Us</span></a
          >
        </li>
      </ul>
    </nav>
    <address class="header--address">
      <ul class="header--social_list">
        <li class="header--social_item">
          <a href="#" class="header--social_link">
            <svg class="socia_ico" width="20" height="20">
              <use href="./image/ico/symbol-defs.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="header--social_item">
          <a href="" class="header--social_link">
            <svg class="socia_ico" width="20" height="20">
              <use href="./image/ico/symbol-defs.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="header--social_item">
          <a href="" class="header--social_link">
            <svg class="socia_ico" width="20" height="20">
              <use href="./image/ico/symbol-defs.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </address>
    <!--  M O D A L   M E N U  -->
    <div onclick="openModal()" class="header--mobile_menu"></div>
    <aside class="header--mobile_menu_panel">
      <div class="header--mobile_menu_navigation">
        <nav class="header--navigation_menu_modal">
          <ul class="header--menu_list_modal">
            <li class="header--menu_item_modal">
              <a href="" class="header--navigation_link_modal">
                <span class="--is-active">Home</span>
              </a>
            </li>
            <li class="header--menu_item_modal">
              <a href="" class="header--navigation_link_modal">
                <span class="">About Us</span>
              </a>
            </li>
            <li class="header--menu_item_modal">
              <a href="" class="header--navigation_link_modal">
                <span class="">Catalog</span>
              </a>
            </li>
            <li class="header--menu_item_modal">
              <a href="" class="header--navigation_link_modal">
                <span class="">Sale</span></a
              >
            </li>
            <li class="header--menu_item_modal">
              <a href="" class="header--navigation_link_modal">
                <span class="">Reviews</span></a
              >
            </li>
            <li class="header--menu_item_modal">
              <a href="" class="header--navigation_link_modal">
                <span class="">Contact Us</span></a
              >
            </li>
          </ul>
        </nav>
        <address class="header--address_modal">
          <ul class="header--social_list_modal">
            <li class="header--social_item_modal">
              <a href="#" class="header--social_link_modal">
                <svg class="socia_ico" width="20" height="20">
                  <use href="./image/ico/symbol-defs.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="header--social_item_modal">
              <a href="" class="header--social_link_modal">
                <svg class="socia_ico" width="20" height="20">
                  <use href="./image/ico/symbol-defs.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="header--social_item_modal">
              <a href="" class="header--social_link_modal">
                <svg class="socia_ico" width="20" height="20">
                  <use href="./image/ico/symbol-defs.svg#icon-youtube"></use>
                </svg>
              </a>
            </li>
          </ul>
        </address>
      </div>
    </aside>
  </div>
</header>
<script src="./js/modal.js"></script>
