@media screen and (min-width: 375px) {
    .header {
        border-bottom: 2px solid #F3F3F3;
        &--wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;

            padding-top: 20px;
            padding-bottom: 20px;
        }
        &--icon {
            font-size: 1.25rem;
            letter-spacing: -0.02em;
            line-height: 1;
            text-transform: uppercase;
         }
        &--navigation_menu {
            display: none;
        }
        &--address {
            display: none;
        }
        &--mobile_menu {
            position: relative;

            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 8px;
            
            width: 34px;
            height: 34px;

            &::before {
                content: '';

                width: 100%;
                height: 0.1875rem;

                background-color: var(--main);
                border-radius: 50px;

                transition: all 0.3s ease-in;
            }

            &::after {
                content: '';

                width: 100%;
                height: 0.1875rem;

                background-color: var(--main);
                border-radius: 50px;

                transition: all 0.3s ease-in;
            }

            &.is-active{
                z-index: 9999;
                &::before {
                    position: absolute;
                    transform:rotate(135deg);

                    background-color: #F3F3F3;
                    transition: all 0.3s ease-in;
                }
                &::after {
                    position: absolute;
                    transform:rotate(-135deg);

                    background-color: #F3F3F3;
                    transition: all 0.3 ease-in;
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .header {

        &--wrapper {
            padding-top: 26px;
            padding-bottom: 26px;
        }

        &--mobile_menu {
            width: 40px;
            height: 40px;
        }
    }

}

@media screen and (min-width: 1280px) {
    .header {
        &--wrapper {
            padding-top: 0;
            padding-bottom: 0;
        }
        &--navigation_menu {
            display: flex;
        }
        &--menu_list {
            display: flex;
            gap: 40px;
        }
        &--navigation_link {
            position: relative;
            padding: 30px 0px 40px 0px;
            line-height: 129%;
            
            .--is-active::before {
                position: absolute;

                transform: translate(50%, 0);
                right: 50%;
                bottom: 1.9rem;
            
                content: '';
                width: 0.5rem;
                height: 0.5rem;
                background-color: var(--accent);
                border-radius: 100%;
            
                opacity: 1;
            }
        }
        
        &--mobile_menu { 
            display: none;
        }

        &--address {
            display: flex;
        }

        &--social_list {
            display: flex;
            gap: 10px;
        }
        &--social_item {
            cursor: pointer;
    
            display: flex;
            justify-content: center;
            align-items: center;
    
            border: 1px solid rgba(12, 12, 12, 0.1);
            border-radius: 10px;
            
            padding: 8px;
            
            max-width: 36px;
            max-height: 36px;
    
        }
        &--social_link {
            line-height: 0;
        }
        &--social_item:hover .socia_ico{
            fill: var(--accent);
        }

        &--mobile_menu_panel { 
            display: none;
        }
        &--mobile_menu_navigation {
            display: none;
        }
    }
}

@media screen and (min-width: 375px) and (max-width:1289.98px) {
.header {
    &--mobile_menu_panel {
         z-index: -1;
        position: absolute;
        
        top: 0;
        right: 0;
        
        width: 0;
        
        height: 100%;
        
        background-color: rgba(12, 12, 12, 0.5);

        opacity: 0;
        transition: all .3s ease-in-out;
    }
    &--mobile_menu_panel.is-active {
        display: block;
        z-index: 9998;

        width: 100%;

        opacity: 1;
    }
    &--mobile_menu_navigation {
        z-index: 9998;

        position: absolute;
        right: 0;
        
        width: 0;

        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        background-color: rgba(12, 12, 12, 0.95);
        background: url(/img/modal/modalBack.jpg) no-repeat 10% 30%;


        opacity: 0;
        transition: all .3s ease-in-out;
    }

    &--mobile_menu_navigation.is-active {
        width: clamp(200px, 60%, 330px);
        opacity: 1;    
    }

    &--navigation_menu_modal {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
    }
    &--menu_list_modal {
        display: flex;
        flex-direction: column;
   
        align-items: center;
        gap: 34px;
    }
    &--navigation_link_modal {
        display: none;
        position: relative;
        color: var(--background);

        line-height: 129%;

        opacity: 0;
        transition: color .5s ease 3s;
        
        .--is-active::before {
            position: absolute;

            transform: translate(50%, 0);
            right: 50%;
            bottom: -13px;
        
            content: '';
            width: 0.5rem;
            height: 0.5rem;
            background-color: var(--accent);
            border-radius: 100%;
        
            opacity: 1;
        }
    }
    &--mobile_menu_navigation.is-active &--navigation_link_modal {
        display: block;
        opacity: 1;
    }
    &--address_modal {
        margin-bottom: 40px;
        display: none;
      

        // left: 50%;
        // transform: translate(-50%, 0);
        
    }
    &--mobile_menu_navigation.is-active &--address_modal {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &--social_list_modal {
        display: flex;
        gap: 10px;
    }
    &--social_item_modal {
        cursor: pointer;

        display: flex;
        justify-content: center;
        align-items: center;

        border: 1px solid rgba(251, 251, 251, 0.1);
        border-radius: 10px;
        
        padding: 8px;
        
        max-width: 36px;
        max-height: 36px;

    }
    &--social_link_modal {
        line-height: 0;
    }
    .socia_ico{ 
        fill: var(--background);
    }
    &--social_item_modal:hover .socia_ico{
        fill: var(--accent);
    }
}
}