<main>
  <!--  H E R O  S E C T I O N  -->
  <section class="hero">
    <div class="hero--section_wrapper container">
      <div class="hero--content">
        <div class="hero--content_text">
          <div class="hero--title">
            Welcome to our <span class="text-subb_style">collection</span> of
            premium watches
          </div>
          <div class="hero--subb_title">
            Our watches are not just timepieces, but also an expression of your
            personality and lifestyle. From classic designs to modern ones, we
            have a watch to suit every taste and occasion.
          </div>
        </div>
        <div class="hero--action">
          <div class="hero--users">
            <ul class="hero--users_list">
              <li class="hero--user_item">
                <img
                  src="./image/hero/userOne.png"
                  alt=""
                  class="hero--user_avatar"
                  width="60px"
                  height="60px"
                />
              </li>
              <li class="hero--user_item">
                <img
                  src="./image/hero/userTwo.png"
                  alt=""
                  class="hero--user_avatar"
                  width="60px"
                  height="60px"
                />
              </li>
              <li class="hero--user_item">
                <img
                  src="./image/hero/uesrthree.png"
                  alt=""
                  class="hero--user_avatar"
                  width="60px"
                  height="60px"
                />
              </li>
            </ul>
          </div>
          <a href="#footer" class="hero--scrool_link">Scroll down</a>
        </div>
      </div>
      <div class="hero--picture">
        <picture>
          <source
            srcset="./image/hero/laptop2x.jpg"
            width="1280px"
            height="500px"
            media="(min-width: 1280px)"
          />
          <source
            srcset="./../../image/hero/tablet2x.jpg"
            width="704px"
            height="520px"
            media="(min-width: 768px)"
          />
          <img
            src="./../../image/hero/herobgPhone2x.jpg"
            width="335px"
            height="366px"
            alt="Адаптивне зображення"
          />
        </picture>
      </div>
    </div>
  </section>
  <!--  H E R O  S E C T I O N  -->
</main>
